.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    margin-left: 55px;
}
.wrapper2{
    display: flex;
    justify-content: space-evenly;
}
/* .wrapper2>div{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(99, 99, 219);
    position: relative;
    left: 50px;
}
.wrapper2>div>a{
    text-decoration: none;
    color: white;
    padding-left: 40px;
} */